header {
    background-color: rgb(102, 102, 102);
    width: 100%;
    aspect-ratio: 25 / 1;
}

.sidebar {
    position: fixed;
    background-color: rgb(138, 138, 138);
    width: 20%;
    aspect-ratio: 1 / 5;
}

form {
    background-color: rgb(190, 190, 190);
    margin: auto;
    margin-top: 5%;
    width: 95%;
}

form>h3 {
    font-size: large;
}
