body {
    background-color: rgb(197, 197, 197);
    overflow-x: hidden;
    font-size: 1vw;
}

header {
    background-color: rgb(102, 102, 102);
    width: 100%;
    aspect-ratio: 25 / 1;
}

#sidebar {
    position: fixed;
    background-color: rgb(138, 138, 138);
    width: 20%;
    aspect-ratio: 1 / 5;
}

form {
    background-color: rgb(190, 190, 190);
    margin: auto;
    margin-top: 5%;
    width: 95%;
}

form>h3 {
    font-size: large;
}

#menu {
    width: 79.75%;
    float: right;
    z-index: 5;
    display: grid;
    grid-template-columns: repeat(5, 19.5%);
    grid-template-rows: max-content;
    column-gap: 0.5%;
    row-gap: 2%;
    padding-top: 0.25%;
    padding-left: 0.25%;
}

.dish {
    background-color: grey;
    aspect-ratio: 2 / 1;
    /*float: left;
    margin-left: 0.5%;
    margin-top: 0.5%;*/
}

.desc {
    display: none;
    background-color: rgb(143, 143, 143);
    width: 95%;
    top: 10%;
}

#filterButton {
    margin-top: 10%;
    margin-right: 10%;
    border-radius: 5px;
    float: right;
}
