body {
    background-color: rgb(132, 179, 176);
    overflow-x: hidden;
    font-size: 1.1rem;
}

header {
    position: relative;
    background-color: rgb(44, 106, 131);
    width: 100%;
    height: 5rem;
    z-index: 2;
    float: left;
}

h1 {
    color: white;
    font-size: 3rem;
    width: fit-content;
    margin-top: 1rem;
    margin-left: 1rem;
}

nav {
    position: absolute;
    background-color: rgb(138, 218, 221);
    padding: 0.75%;
    border-radius: 1rem;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    width: 25%;
}

nav>a {
    float: right;
    margin-left: 10%;
    margin-right: 10%;
}

h2 {
    font-size: 2.5rem;
}

#centerBox {
    position: relative;
    background-color: rgb(201, 226, 224);
    margin: auto;
    width: 70%;
    min-height: 100vh;
    padding-left: 1%;
    padding-right: 1%;
}

#ingredientBox {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

.box {
    background-color: rgb(77, 146, 163);
    padding: 0.5rem;
    border-radius: 1rem;
    color: white;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.box>ul>li {
    margin-top: 0.35rem;
    margin-bottom: 0.35rem;
}

#ingredientsLine {
    background-color: rgb(44, 106, 131);
}

.ingredient {
    background-color: rgb(77, 146, 163);
    padding: 0.5rem;
    border-radius: 1rem;
    color: white;
    font-size: 1.5rem;
    min-width: fit-content;
}
